@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: url("../images/bg-top.svg") no-repeat, hsl(240, 78%, 98%);
  background-position: 12rem -3rem;
}

h1, h2, p {
  color: hsl(233, 13%, 49%);
}

header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

span {
  color: hsl(234, 14%, 74%);
}

input[type=range] {
  width: 3rem;
  height: 2rem;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 1rem;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 3px;
}

input[type=range]::-moz-range-track {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 1rem;
  border: none;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
  cursor: pointer;
  appearance: none;
  margin-top: 3px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.3rem;
}

hr {
  width: 100%;
  border: 1px solid hsl(240, 78%, 98%);
}

h2 {
  font-size: 1.2rem;
}

h3 {
  color: hsl(232, 13%, 33%);
  font-size: 4rem;
}

h3:not(.active) {
  display: none;
}

button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}

.pro {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.pro * {
  color: hsl(0, 0%, 100%);
}
.pro button {
  background: hsl(0, 0%, 100%);
  color: hsl(237, 63%, 64%);
}
.pro button:hover {
  background: transparent;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

footer {
  margin: 1rem;
}

a:hover {
  color: hsl(237, 63%, 64%);
  text-decoration: none;
}

/*# sourceMappingURL=output.css.map */
